.voicemailTable {
    margin-left: auto;
    margin-right: auto;
}

.voicemailContainer {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 800px;
    table-layout: fixed;
}

th,
td {
    border-top: 1px solid lightgrey;
    padding: 10px 20px;
}

.numberColumn {
    width: 25%;
}

.durationColumn {
    width: 15%;
}
.removeColumn {
    width: 15%;
}

th {
    background-color: black;
    color: white;
    border-left: 2px solid white;
}

/*th:last-child {*/
/*    background-color: white;*/
/*}*/

button {
    font: inherit;
    font-size: small;
    border-radius: 0;
    background: lightgrey;
    border: none;
    color: orangered;
    padding: 4px 10px;
}
