.container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .7);
}

.modal {
    display: flex;
    align-items: center;
    height: 80%;
    justify-content: center;
}
.modal-inner {
    text-align: center;
    flex: 1;
    max-width: 50%;
    background-color: white;
    padding: 1em;
}