.container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    --vibrating-intensity: 0.1em;
}

.modal {
    display: flex;
    align-items: center;
    height: 80%;
    justify-content: center;
}
.modal-inner {
    text-align: center;
    flex: 1;
    max-width: 50%;
    background-color: white;
    padding: 1em;
    border: 1px solid transparent;
    border-radius: 25px;
}

.modal-vibrating {
    animation: modal-inner-icon 3000ms infinite;
}
  
  @keyframes modal-inner-icon {
    0% { transform: translate3d(0em, 0, 0); }
    2% { transform: translate3d(var(--vibrating-intensity), 0, 0); }
    4% { transform: translate3d(calc(var(--vibrating-intensity) * -1), 0, 0); }
    6% { transform: translate3d(var(--vibrating-intensity), 0, 0); }
    8% { transform: translate3d(calc(var(--vibrating-intensity) * -1), 0, 0); }
    10% { transform: translate3d(var(--vibrating-intensity), 0, 0); }
    12% { transform: translate3d(calc(var(--vibrating-intensity) * -1), 0, 0); }
    14% { transform: translate3d(var(--vibrating-intensity), 0, 0); }
    16% { transform: translate3d(calc(var(--vibrating-intensity) * -1), 0, 0); }
    18% { transform: translate3d(var(--vibrating-intensity), 0, 0); }
    20% { transform: translate3d(calc(var(--vibrating-intensity) * -1), 0, 0); }
    22% { transform: translate3d(var(--vibrating-intensity), 0, 0); }
    24% { transform: translate3d(calc(var(--vibrating-intensity) * -1), 0, 0); }
    26% { transform: translate3d(var(--vibrating-intensity), 0, 0); }
    28% { transform: translate3d(calc(var(--vibrating-intensity) * -1), 0, 0); }
    30% { transform: translate3d(var(--vibrating-intensity), 0, 0); }
    32% { transform: translate3d(calc(var(--vibrating-intensity) * -1), 0, 0); }
    34% { transform: translate3d(var(--vibrating-intensity), 0, 0); }
    36% { transform: translate3d(calc(var(--vibrating-intensity) * -1), 0, 0); }
    38% { transform: translate3d(var(--vibrating-intensity), 0, 0); }
    40% { transform: translate3d(calc(var(--vibrating-intensity) * -1), 0, 0); }
    42% { transform: translate3d(var(--vibrating-intensity), 0, 0); }
    44% { transform: translate3d(calc(var(--vibrating-intensity) * -1), 0, 0); }
    46% { transform: translate3d(0em, 0, 0); }
  }